
/* Part Header and Nav */
header{
    background-color: #020617;
    display: flex;
    justify-content: space-between;

}
nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
    color : white;
}
.logo{
    width: 100px;
    height: auto;
}
.content{
    padding: 40px;
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

/* First Section Hello Welcome  */

.secciongris{
    background-color: #111827;
    padding: 96px 165px 96px 165px;
}
.textYellow{
    color: #FBBF24;
}
.divGrandeSeccion1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.imgSeccion1{
    width: 427px;
    height:427px;
    border-radius:24px ;
}
.divTextoSeccion1{
    width: 466px;
    height: 271px;
    gap: 24px;
}
h1{
    color: white;
}
#contactUsbtn{
    background-color: #FACC15;
    border-radius: 4px;
    padding:8px 20px 8px 20px;
    width: 123px;
    height: 43px;
    text-align: center;
       
}
p{
    color: #6B7280;
    font-size: 18px;
    line-height: 28px;
}